/* =================== constants =================== */
section {
	padding: var(--primary-section-padding);
}

form .form-title {
	margin-bottom: 1rem;
}

form .form-inputs-container {
	margin-bottom: 1rem;
}

.form-inputs-container label:first-child {
	margin-left: 0;
}



/* =================== media queries =================== */
.signup-page-container {
	grid-column: span 4;
	background-color: var(--accent-light);
	height: 100vh;
	width: 100%;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	.signup-page-container {
		grid-column: span 6;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	section {
		padding: var(--primary-section-padding-desktop);
	}

	.signup-page-container {
		grid-column: span 12;
	}
}