/* =================== constants =================== */
body {
	background-color: var(--accent-light);
}

section {
	padding: var(--primary-section-padding);
}

form h1 {
	margin-bottom: 2rem;
}

form h2 {
	margin-bottom: 1rem;
}

/* =================== media queries =================== */
.signup-page-container {
	grid-column: span 4;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	.signup-page-container {
		grid-column: span 6;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	section {
		padding: var(--primary-section-padding-desktop);
	}

	.signup-page-container {
		grid-column: span 12;
	}
}