/* =================== constants =================== */
section.search-section {
	padding: var(--std-section-padding);
	display: grid;
}

form {
	display: block;
	flex-direction: column;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

input {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

p {
	font-weight: 600;
}

.filter-container {
    display: grid;
    align-items: center;
	position: relative;
}

.filter-options {
	display: flex;
    gap: 10px;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 25px;
	columns: 3;
}

.filter-options label {
    display: block;
	align-items: left;
	margin-bottom: 5px;
}

.books-container {
	margin-top: 320px;
}

.back-to-top-button {
	position: fixed;
	bottom: 0;
	right: 0;
}

/* =================== media queries =================== */
#search-page {
	grid-column: span 4;
	padding: var(--std-page-padding) var(--std-page-padding) 0;
	background-color: var(--accent-light);
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	#search-page {
		grid-column: span 6;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#search-page {
		grid-column: span 12;
	}
}