/* =================== constants =================== */

/* =================== media queries =================== */
#search-page {
	grid-column: span 4;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	#search-page {
		grid-column: span 6;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#search-page {
		grid-column: span 12;
	}
}