/* =================== constants =================== */
section.about-section {
	padding: var(--std-section-padding) var(--std-section-padding) 1rem;
}

/* =================== media queries =================== */

.about-page-container {
	grid-column: span 4;
	padding: 1rem 1rem 0;
}

.about-section p {
	margin-bottom: 1rem;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	.about-page-container {
		grid-column: span 6;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	.about-page-container {
		grid-column: span 12;
	}
}