/* =================== imported fonts =================== */

/* ---------- sub-header ---------- */

/* =================== global variables =================== */
:root {}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =================== base page styles =================== */

/* =================== font styles =================== */

/* =================== constants =================== */

/* =================== media queries =================== */