/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:wght@400;600&family=Ruda:wght@800;900&display=swap');

/* =================== global variables =================== */
:root {
	--primary-font: 'Noto Sans', sans-serif;
	--primary-header-font: 'Ruda', sans-serif;
	--primary-sub-header-font: 'Istok Web', sans-serif;

	--background: #fffffe;
	--font: #241d0d;
	--highlight: #fcda5f;
	--accent-light: #e3f6f5;
	--accent-medium: #bae8e8;
	--accent-dark: #2d334a;

	--std-section-border-radius: 1rem; 
	/* change to 5px? */
	--std-page-padding: 1rem;
	--std-section-padding: 2rem;
	--std-section-margin: 2rem 0;

	--std-transition: 250ms ease-in-out;
	--std-button-shadow: 2px 3px var(--font);
}

/* =================== reset default styles =================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* =================== base page styles =================== */
body {
	background-color: var(--background);
	font-family: var(--primary-font);
	color: var(--font);
	scroll-behavior: smooth;
}

/* =================== font styles =================== */
h1, .logo {
	font-family: var(--primary-header-font);
	font-weight: 800;
	font-size: 2em;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}

h2 {
	font-family: var(--primary-sub-header-font);
	font-weight: 400;
	font-size: 1.2em;
	margin-bottom: 0.5rem;
}

p,
a,
button {
	font-family: var(--primary-font);
	font-weight: 400;
	font-size: 1em;
}

a {
	text-decoration: none;
	color: var(--font);
}

a:hover {
	text-decoration: none;
}

span.bold, .bold {
	font-weight: 600;
}

/* =================== constants =================== */
button {
	font-weight: 600;
	font-size: 0.9em;
	border-radius: 10px;
	border: solid 2px var(--font);
	padding: 8px 10px;
	cursor: pointer;
	transition: box-shadow var(--std-transition);
}

.button-background {
	background-color: var(--background);
	border-color: var(--background);
}

.button-highlight {
	background-color: var(--highlight);
}

.button-accent-light {
	background-color: var(--accent-light);
}

.button-accent-medium {
	background-color: var(--accent-medium);
}

.button-accent-dark {
	color: var(--background);
	background-color: var(--accent-dark);
}

/* =================== media queries =================== */
#main-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	#main-grid {
		grid-template-columns: repeat(6, 1fr);
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#main-grid {
		grid-template-columns: repeat(12, 1fr);
	}

	button:hover:not(.button-accent-dark, .button-background) {
		box-shadow: var(--std-button-shadow);
		transition: box-shadow var(--std-transition);
	}
}