/* =================== constants =================== */
section:not(:first-child) {
	margin: var(--std-section-margin);
}

section:not(:first-child, .welcome-section) {
	border-radius: var(--std-section-border-radius);
	padding: var(--std-section-padding);
}

.image-container {
	height: 15rem;
	background-color: grey;
	border-radius: var(--std-section-border-radius);
	margin-bottom: 2rem;
}

/* =================== media queries =================== */

main {
	grid-column: span 4;
	padding: 1rem 1rem 0;
}

.text-container {
	padding: var(--std-section-padding);
}

.services-section {
	background-color: var(--highlight);
}

.services-section .service-card-grid {
	display: grid;
	grid-auto-rows: max-content;
	gap: 10px;
}

.services-section .card:hover {
	box-shadow: var(--std-button-shadow);
	transition: box-shadow var(--std-transistion);
}

.questions-section {
	background-color: var(--accent-medium);
}

.questions-section div {
	padding: 0 1rem;
}

.questions-section li span {
	text-transform: capitalize;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	main {
		grid-column: span 6;
	}
	.welcome-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	.welcome-section .image-container {
		grid-column: 2;
		grid-row: 1;
	}

	.services-section .service-card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	main {
		grid-column: span 12;
	}
	
	.welcome-section .text-container h2 {
		max-width: 45ch;
	}

	.services-section .service-card-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}