/* =================== constants =================== */
#library-page {
    grid-column: span 4;
    padding: var(--std-page-padding) var(--std-page-padding) 0;
}

section.library-section {
	padding: var(--std-section-padding);

}
/* FIXME: fix the buttons to col 2 row 2 */
.shelf-buttons {
    display: grid;
    grid-auto-columns: min-content;
    gap: 1rem;
    margin-bottom: var(--std-section-margin);
}


.book-shelf {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-items: center;
    margin: var(--std-section-margin);
}

/* =================== media queries =================== */


/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	#library-page {
		grid-column: span 6;
	}

    .book-shelf {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#library-page {
		grid-column: span 12;
	}

    .book-shelf {
        grid-template-columns: repeat(4, 1fr);
    }
}