/* =================== constants =================== */
.sidebar {
	background-color: var(--accent-light);
	border-radius: var(--std-section-border-radius);
	padding: var(--std-section-padding);
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}

.image-container .container {
	background-color: grey;
	width: 10rem;
	height: 10rem;
	border-radius: 10000px;
	margin-bottom: 1rem;
}

.account-nav-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	text-align: center;
	margin-top: 1rem;
}

.account-list-item {
	list-style: none;
}

/* ---------- dashboard ---------- */
.dashboard-container {
	padding: 1rem;
}

.container h1 {
	margin-bottom: 1rem;
}

.dashboard {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

.book-stat-card {
	padding: 1rem;
	border-radius: var(--std-section-border-radius);
	border: 2px solid var(--font);
}

.book-stat-card:nth-child(1),
.book-stat-card:nth-child(2) {
	background-color: var(--accent-light);
}

.book-stat-card:nth-child(3),
.book-stat-card:nth-child(4) {
	grid-column: span 2;
}

.book-stat-card:nth-child(4) {
	background-color: var(--highlight);
}

.card-title {
	text-transform: capitalize;
}

.number {
	font-size: 2em;
	text-align: center;
}

/* =================== media queries =================== */
#account-page {
	grid-column: span 4;
	padding: var(--std-section-padding) var(--std-section-padding) 0;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 1rem;
}

/* =================== TABLET =================== */
@media only screen and (min-width: 40.063em) {
	#account-page {
		grid-column: span 6;
	}
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
	#account-page {
		grid-column: span 12;
	}

	section.account-section {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 1rem;
	}

	.dashboard-container h1 {
		margin-bottom: 4rem;
	}
}